
.level {
    margin-right: 20px;
    & > .match > .match-team-name {
        width: 100px;
        height: 30px;
        padding: 5px 4px;
        overflow: hidden;
        text-overflow: ellipsis;

        &.team-a {
            background-color: #aaa;
        }

        &.team-b {
            background-color: #ccc;
        }
    }
}
// injector
// endinjector
